Repository DevilBoy007/neighborfood: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for Neighborfood (React Native / TypeScript / Expo)
# See https://pre-commit.com for more information

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(android|ios)/
      - id: trailing-whitespace
        exclude: ^(android|ios)/
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # ESLint for TypeScript/JavaScript (only fail on errors, not warnings)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'npx eslint --fix --max-warnings=-1 "$@" || true' --
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: ^(android|ios|node_modules|functions/lib)/

  # TypeScript type checking (verbose mode - reports errors but doesn't block)
  # TODO: Set verbose to false once all type errors are resolved
  - repo: local
    hooks:
      - id: typescript
        name: typescript
        entry: bash -c 'npx tsc --noEmit || echo "TypeScript errors found (non-blocking)"'
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false
        verbose: true
        exclude: ^(android|ios|node_modules|functions)/

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        exclude: ^(android|ios|node_modules|functions/lib)/

setup github actions workflows and eas workflows
  .eas/workflows/development-build.yml
  .eas/workflows/e2e-tests.yml
  .eas/workflows/ota-update.yml
  .eas/workflows/preview-build.yml
  .eas/workflows/production-build.yml
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/expo-build.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  eas.json
  maestro/README.md
  maestro/config.yaml
  maestro/flows/app-launch.yaml
  types/assets.d.ts
  types/index.ts
Due: eslint, typescript, prettier

remove jest test job
  .github/workflows/ci.yml
Due: prettier

lazily evaluate local storage
  store/slices/userSlice.ts
Due: eslint, typescript, prettier

proliferate lazy load strategy
  app/(home)/_layout.tsx
  context/cartContext.tsx
  context/userContext.tsx
  store/index.ts
  store/slices/cartSlice.ts
  store/slices/userSlice.ts
Due: eslint, typescript, prettier

remove redundant e2e test
  .github/workflows/e2e-tests.yml
Due: prettier

create android credentials keystore
  app.json
  eas.json
  package-lock.json
  package.json
Due: prettier

remove rn types
  package-lock.json
  package.json
Due: prettier

comment out app submission jobs
  .eas/workflows/production-build.yml
  app.json
Due: prettier

also temporarily disable OTA updates to prod
  .eas/workflows/ota-update.yml
Due: prettier

hook up 'EditDetails' functionality
  app/EditDetails.tsx
Due: eslint, typescript, prettier

update button style and remove deprecated function call
  app/EditDetails.tsx
Due: eslint, typescript, prettier

build messages screen
  app/(checkout)/Checkout.tsx
  app/(home)/(messages)/[threadId].tsx
  app/(home)/(messages)/_layout.tsx
  app/(home)/(messages)/index.tsx
  app/(home)/(shops)/ShopDetails.tsx
  app/(home)/_layout.tsx
  functions/src/index.ts
  handlers/firebaseService.tsx
  store/index.ts
  store/reduxHooks.ts
  store/slices/messageSlice.ts
  types/index.ts
Due: eslint, typescript, prettier

implement message notifications
  app.json
  app/(home)/(messages)/[threadId].tsx
  app/Settings.tsx
  app/_layout.tsx
  assets/images/carrot-notification-icon.png
  components/NotificationProvider.tsx
  functions/src/index.ts
  handlers/firebaseService.tsx
  handlers/notificationService.tsx
  hooks/useNotifications.ts
  package-lock.json
  package.json
Due: eslint, typescript, prettier

reduce icons size
  app/(home)/_layout.tsx
Due: eslint, typescript, prettier

adjust midnight theme colors
  constants/Colors.ts
Due: eslint, typescript, prettier

update neo-modern theme colors
  constants/Colors.ts
Due: eslint, typescript, prettier

rename spring -> fall and adjust
  constants/Colors.ts
Due: eslint, typescript, prettier

use edge-to-edge bottom button
  components/ThemeSelector.tsx
Due: eslint, typescript, prettier

Revert "use edge-to-edge bottom button"
  components/ThemeSelector.tsx
Due: eslint, typescript, prettier

update default placeholder color
  constants/Colors.ts
Due: eslint, typescript, prettier

fix input box color
  constants/Colors.ts
Due: eslint, typescript, prettier

bring theme colors into `ItemCard`
  components/ItemCard.tsx
Due: eslint, typescript, prettier

use theme colors in parallax scrollview
  components/ParallaxScrollView.tsx
Due: eslint, typescript, prettier

human touches
  app/(home)/(contact)/ContactUs.tsx
  app/(home)/(items)/AddItem.tsx
  app/(home)/(shops)/ShopDetails.tsx
  app/(home)/(shops)/Shops.tsx
  app/Login.tsx
  app/Register.tsx
  app/Settings.tsx
  app/index.tsx
  components/ThemeSelector.tsx
  constants/Colors.ts
Due: eslint, typescript, prettier

add shadow to title screen to support white on green
  app/index.tsx
Due: eslint, typescript, prettier

more human touches
  app/(home)/(contact)/ContactUs.tsx
  app/(home)/(items)/ManageItems.tsx
  app/(home)/(shops)/AddShop.tsx
  app/(home)/(shops)/ShopDetails.tsx
  app/Register.tsx
  app/success.tsx
  components/ItemCard.tsx
  components/ThemeSelector.tsx
Due: eslint, typescript, prettier

trigger EAS workflows manually
  .eas/workflows/ota-update.yml
  .eas/workflows/preview-build.yml
  .eas/workflows/production-build.yml
Due: prettier

fix syntax
  .eas/workflows/preview-build.yml
  .eas/workflows/production-build.yml
Due: prettier

update syntax
  .eas/workflows/preview-build.yml
  .eas/workflows/production-build.yml
Due: prettier

update eas workflows
  .eas/workflows/ota-update.yml
  .eas/workflows/preview-build.yml
  .eas/workflows/production-build.yml
Due: prettier

apply `useAppColors()` to message screens
  app/(home)/(messages)/[threadId].tsx
  app/(home)/(messages)/index.tsx
Due: eslint, typescript, prettier

create `neighborfood.entitlements`
  app.json
Due: prettier

remove unused type interface
  functions/src/index.ts
Due: eslint, prettier

replace safeview with safeareaview
  app/(home)/(messages)/_layout.tsx
  app/(home)/(messages)/index.tsx
  app/(home)/_layout.tsx
Due: eslint, typescript, prettier

enhance for web
  app/(cart)/Cart.tsx
  app/(home)/(items)/AddItem.tsx
  app/(home)/(items)/ManageItems.tsx
  app/(home)/(messages)/index.tsx
  app/(home)/(orders)/details.tsx
  app/(home)/(orders)/index.tsx
  app/(home)/(orders)/orders.tsx
  app/(home)/(shops)/AddShop.tsx
  app/(home)/(shops)/ShopDetails.tsx
  app/(home)/(shops)/Shops.tsx
  app/(home)/Market.tsx
  app/(home)/Menu.tsx
  app/Settings.tsx
  components/ItemCard.tsx
  components/OrderCard.tsx
  components/ShopCard.tsx
  components/ThemedText.tsx
Due: eslint, typescript, prettier

optimize header for mobile
  app/(home)/(messages)/index.tsx
Due: eslint, typescript, prettier

fix some colors
  app/EditDetails.tsx
Due: eslint, typescript, prettier

optimize message thread header for mobile
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

remove duplicate code
  store/reduxHooks.ts
Due: eslint, typescript, prettier

include photoURL in INITIAL DATA SUBMISSION
  app/EditDetails.tsx
  app/Register.tsx
Due: eslint, typescript, prettier
