Repository DevilBoy007/neighborfood: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for Neighborfood (React Native / TypeScript / Expo)
# See https://pre-commit.com for more information

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^(android|ios)/
      - id: trailing-whitespace
        exclude: ^(android|ios)/
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # ESLint for TypeScript/JavaScript (only fail on errors, not warnings)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'npx eslint --fix --max-warnings=-1 "$@" || true' --
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: ^(android|ios|node_modules|functions/lib)/

  # TypeScript type checking (verbose mode - reports errors but doesn't block)
  # TODO: Set verbose to false once all type errors are resolved
  - repo: local
    hooks:
      - id: typescript
        name: typescript
        entry: bash -c 'npx tsc --noEmit || echo "TypeScript errors found (non-blocking)"'
        language: system
        types: [file]
        files: \.(ts|tsx)$
        pass_filenames: false
        verbose: true
        exclude: ^(android|ios|node_modules|functions)/

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        exclude: ^(android|ios|node_modules|functions/lib)/

change mapscreen loading color
  components/MapScreen.tsx
Due: eslint, typescript, prettier

make message input visible
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

rename neo-modern theme to lilac
  constants/Colors.ts
Due: eslint, typescript, prettier

optimize message screens for web
  app/(cart)/Cart.tsx
  app/(checkout)/Checkout.tsx
  app/(home)/(messages)/[threadId].tsx
  app/(home)/(messages)/index.tsx
  components/CartFAB.tsx
  constants/Colors.ts
Due: eslint, typescript, prettier

adjust order message bubble image styles
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

remove safeareaview import
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

adjust styles for mobile
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

use live order data when rendering order card
  app/(home)/(messages)/[threadId].tsx
Due: eslint, typescript, prettier

add notification badge
  app/(home)/(messages)/index.tsx
  app/(home)/_layout.tsx
  components/NotificationBadge.tsx
  hooks/useNotifications.ts
  store/reduxHooks.ts
  store/slices/messageSlice.ts
Due: eslint, typescript, prettier

add delivery method to order detail screen
  app/(home)/(orders)/details.tsx
  app/(home)/(shops)/ShopDetails.tsx
Due: eslint, typescript, prettier

add function to mark as read
  app/(home)/(messages)/[threadId].tsx
  functions/src/index.ts
  store/slices/messageSlice.ts
Due: eslint, typescript, prettier

lint
  app/(home)/(messages)/[threadId].tsx
  app/(home)/(messages)/index.tsx
  app/(home)/(shops)/ShopDetails.tsx
  app/EditDetails.tsx
  app/index.tsx
  components/ItemCard.tsx
Due: eslint, typescript, prettier

add expo version
  .github/workflows/ci.yml
Due: prettier

remove drop shadow
  app/index.tsx
Due: eslint, typescript, prettier

create dashboard screen
  app/(home)/(dashboard)/Dashboard.tsx
  app/(home)/(dashboard)/_layout.tsx
  app/(home)/(dashboard)/index.tsx
  app/(home)/Menu.tsx
  app/(home)/_layout.tsx
  package-lock.json
  package.json
Due: eslint, typescript, prettier

align wrap headers
  app/(home)/(dashboard)/Dashboard.tsx
  app/(home)/(dashboard)/_layout.tsx
  app/(home)/(messages)/index.tsx
Due: eslint, typescript, prettier

lint
  app/(home)/(messages)/[threadId].tsx
  app/index.tsx
Due: eslint, typescript, prettier

pull order data on entry
  app/(home)/Market.tsx
Due: eslint, typescript, prettier

fix workflow
  .github/workflows/ci.yml
Due: prettier

buff some styles
  app/EditDetails.tsx
  constants/Colors.ts
Due: eslint, typescript, prettier

remove `shops.length` from dependency array
  app/(home)/Market.tsx
Due: eslint, typescript, prettier

update packages
  package-lock.json
  package.json
Due: prettier

replace RN date picker w community version
  app.json
  app/Register.tsx
  apple_pay.cer
  package-lock.json
  package.json
Due: eslint, typescript, prettier

Delete apple_pay.cer
  apple_pay.cer
Due: none

add comma
  app.json
Due: prettier

stripe and ts config
  app.json
  tsconfig.json
Due: prettier

add zip code fallback to Menu
  app/(home)/Menu.tsx
Due: eslint, typescript, prettier

guard against non-number values in web map
  components/WebMapScreen.tsx
Due: eslint, typescript, prettier

update return URL
  app/(checkout)/Checkout.tsx
Due: eslint, typescript, prettier

update redirect/return url config
  app.json
  functions/src/index.ts
Due: eslint, prettier

build redirect and return pages
  public/stripe-refresh.html
  public/stripe-return.html
Due: none

add netlify config
  netlify.toml
Due: none

create secret scan omit keys
  netlify.toml
Due: none

add app icon & splash screen
  assets/images/bellPeppers.jpeg
  assets/images/bread.jpeg
  assets/images/dill.jpeg
  assets/images/icon.png
  assets/images/partial-react-logo.png
  assets/images/react-logo.png
  assets/images/react-logo@2x.png
  assets/images/react-logo@3x.png
  assets/images/splash.png
  assets/images/strawberries.jpeg
  assets/images/tomatoes.png
Due: none

fix callback/listener guards
  app/(home)/Market.tsx
  app/Login.tsx
Due: eslint, typescript, prettier

use v2 express account
  app/PaymentMethods.tsx
  functions/src/index.ts
Due: eslint, typescript, prettier

ONLY CREATE TEST ACCTS
  functions/src/index.ts
Due: eslint, prettier
